@model ScCaseConfirmViewModel

<h2>Trial Details</h2>

<div class="mb-4">
    <p>
        Trial length: @Model.SessionInfo.EstimatedTrialLength
        @(Model.SessionInfo.EstimatedTrialLength == 1 ? "day" : "days")
    </p>

    <p>Starting: @Model.SelectedRegularTrialDate?.ToString("dddd MMMM d, yyyy")</p>

    <p>Trial location: @Model.TrialLocationName</p>
</div>

<form method="post" class="form-horizontal needs-validation" role="form" novalidate autocomplete="off">

    <partial name="../ScBooking/Partial/CaseConfirm/_ContactForm" model="Model" />

</form>
