@model ScCaseConfirmViewModel
@{
    var bookingInfo = Model.SessionInfo;
}
@if (bookingInfo.TrialFormulaType == ScFormulaType.FairUseBooking)
{
    <p class="mb-4">Please review the following information to ensure that it is accurate. Dates are not guaranteed at this
    stage, you
    are submitting a request.</p>
}
else
{
    <p class="mb-4">Review the following information to ensure that it is accurate before completing your booking.</p>
}

<div class="row no-gutters justify-content-between booking-confirmation--details">
    <div class="col-12">
        <div class="uppercase-sm">File Number: @bookingInfo.FullCaseNumber</div>
        <h5 style="margin-bottom: 4px">@bookingInfo.SelectedCourtFile?.styleOfCause</h5>
        <p>@bookingInfo.SelectedCourtClassName</p>
    </div>
</div>

@if (bookingInfo.TrialFormulaType == ScFormulaType.FairUseBooking)
{
    <partial name="Partial/CaseConfirm/_FairUseBooking" model="Model" />
}
else
{
    <partial name="Partial/CaseConfirm/_RegularBooking" model="Model" />
}
