@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CourtName = "supreme";
}

@section NavBar
{
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pt-2 pt-md-0">
            <li class="nav-item">
                <a href="#" onclick="submitLogoutForm(event)">
                    LOG OUT
                </a>
            </li>
        </ul>
    </div>
}

@RenderBody()

@section Scripts {
    <script src="/scjob/js/sc.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", false)
}

@section Styles {
    @await RenderSectionAsync("Styles", false)
    <link rel="stylesheet" href="/scjob/dist/css/sc.css" asp-append-version="true" />
}
