@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Primitives
@{
    IHeaderDictionary headers = Context.Request.Headers;
}

<h2>Request Headers</h2>

<ul>
    @foreach (KeyValuePair<string, StringValues> header in headers)
    {
        // removed X-Forwarded-For, Forwarded, Host headers so we don't give away proxy/routing info
        if (!header.Key.Contains("Forwarded") && !header.Key.Equals("Host"))
        {
            <li>
                <strong>@header.Key</strong>
                :
                <span>@header.Value</span>
            </li>
        }
    }
</ul>
