@inject SessionService SessionService

@{
    Layout = "~/Views/ScCore/_Layout.cshtml";
    ViewData["Title"] = "Your Request is Submitted";

    var bookingInfo = SessionService.ScBookingInfo;
    var fairUseFormula = bookingInfo.FairUseFormula;

    string endTime = fairUseFormula.FairUseBookingPeriodEndDate?.ToString("h:mm tt").ToLower() ?? "[N/A]";
    string endDate = fairUseFormula.FairUseBookingPeriodEndDate?.ToString("dddd MMMM d, yyyy") ?? "[N/A]";

    // lottery date, when users will be notified (@TODO: confirm & handle null date?)
    string resultDate = fairUseFormula.FairUseContactDate?.ToString("dddd MMMM d, yyyy") ?? "[N/A]";
}
<div class="body-content--inner">
    <div class="row no-gutters">
        <div class="col">
            @if (bookingInfo.IsBooked)
            {
                <h2>@ViewData["Title"]</h2>

                <p class="mb-3">Your request for trial dates has been submitted to the Online Booking System.</p>

                <p class="mb-3">The current booking period closes @endTime @endDate. Once the booking period has closed,
                    the Online Booking System will confirm whether a trial date has been set for the case. You will receive
                    an update via email by @resultDate.</p>
            }
            else
            {
                <h2>Booking Could Not Be Completed</h2>
                <div class="alert alert-danger">
                    <i class="fas fa-exclamation-circle"></i>
                    @bookingInfo.FriendlyError
                </div>
            }
        </div>
    </div>

    <div class="row no-gutters booking-confirmation">
        <div class="col-12">
            <div class="mb-4 mt-4">
                <a class="btn btn-primary d-inline-block mt-0" href="/scjob/booking/sc" role="button">
                    Make another booking
                </a>
            </div>

            <div class="mb-4 mt-2">
                <p>Finished booking?</p>

                <p>
                    <a href="#" onclick="submitLogoutForm(event)">
                        <p>Log out of the BC Courts Online Booking System</p>
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

@{
    SessionService.ScBookingInfo = null;
}