@inject SessionService SessionService
@model ScCaseConfirmViewModel

@{
    Layout = "~/Views/ScCore/_Layout.cshtml";
    ViewData["Title"] = "Complete Your Booking";
}

<div class="body-content--inner">
    <div class="d-flex justify-content-between steps-link">
        <h5>4 steps to complete your booking</h5>
        <h6><a href="/scjob/booking/sc">Cancel</a></h6>
    </div>
    <hr />
    <h6>Step 4</h6>
    <h2>@ViewData["Title"]</h2>

    <div class="row no-gutters booking-confirmation">
        <div class="col">
            <partial name="Partial/CaseConfirm/_Conference" model="Model" />
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
