@using Microsoft.Extensions.Configuration
@inject ScBookingService Service
@inject IConfiguration Configuration

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.CourtName = "coa";
}

@section NavBar
{
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a href="#" onclick="event.preventDefault();document.getElementById('logout_form').submit();">
                    LOGOUT
                </a>
            </li>
        </ul>
    </div>
}

<div class="body-content--inner">
@RenderBody()
</div>

@section Scripts {
    <script src="/scjob/js/coa.js" asp-append-version="true"></script>
    <script src="/scjob/dist/vue/ApplicationTypeSelect.js" asp-append-version="true"></script>
    @RenderSection("Scripts", false)
}

@section Styles {
    @RenderSection("Styles", false)
    <link rel="stylesheet" href="/scjob/dist/css/coa.css" asp-append-version="true"/>
    <link rel="stylesheet" href="/scjob/dist/vue/ApplicationTypeSelect.js.css" asp-append-version="true"/>
}
