@using Microsoft.Extensions.Configuration
@inject SessionService SessionService
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Your Request Has Been Sent";
}

    <div class="row screen-intro">
        <div class="col-md-12 paragraph">
        @if (SessionService.CoaBookingInfo.IsBooked)
        {
            <h1>@ViewData["Title"]</h1>
            <p>Thank you for your request.</p>
            <p>You will receive confirmation by email.</p>
        }
        else
        {
            <h1>Error</h1>
            <p>There was an error confirming your booking.</p>
            <p>The following message was returned by the scheduling system.</p>
        }
        </div>
    </div>

@if (!SessionService.CoaBookingInfo.IsBooked)
{
    <div class="alert alert-danger">
        <i class="fas fa-exclamation-circle"></i>
        @SessionService.CoaBookingInfo.FriendlyError
    </div>
}
else
{
    <div class="row booking-confirmation">
        <div class="content col-md-6">
            @if (string.IsNullOrEmpty(SessionService?.UserInfo?.ContactName))
            {
                <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                            <i class="fas fa-exclamation-triangle"></i>
                            Please logout and login again, your session was lost. 
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<div class="row booking-new">
    <div class="content col-6">
        <a href="/scjob/booking/coa/CaseSearch" class="btn btn-primary btn-block">Request Another Hearing</a>
    </div>
</div>
<div class="row booking-logout">
    <div class="content col-md-12">
        <label>Finished booking?</label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a href="@Configuration["AppSettings:LogoutUrl"]">Log out of the BC Courts Booking System</a>
    </div>
</div>

@{
    SessionService.CoaBookingInfo = null;
}
