
@{
    ViewData["Title"] = "Book your hearing for CoA";
}

<div class="row screen-intro">
    <div class="col-md-12">
        <h1>@ViewData["Title"]</h1>
        <p>All bookings will be entered in a queue and will be reviewed by the court scheduler.</p>
    </div>
</div>

