@model ScCaseConfirmViewModel

<h2>Chambers Hearing Details</h2>

<div class="mb-4">
    <p>
        Requested days: @Model.SessionInfo.EstimatedChambersLengthDays
    </p>

    <p>Starting: @Model.SelectedRegularTrialDate?.ToString("dddd MMMM d, yyyy")</p>

    <p>Chambers location: @Model.TrialLocationName</p>
</div>

<form method="post" class="form-horizontal needs-validation" role="form" novalidate autocomplete="off">

    <partial name="../ScCore/Partial/CaseConfirm/_ContactForm" model="Model" />

</form>
