@inject SessionService SessionService
<div class="uppercase-sm">File Number: @SessionService.ScBookingInfo.FullCaseNumber</div>
<h5 class="mb-1">@SessionService.ScBookingInfo.SelectedCourtFile?.styleOfCause</h5>
<p>@SessionService.ScBookingInfo.SelectedCourtClassName</p>