@{
    ViewData["Title"] = "Home Page";
}

<div class="div-intro row">
    <div class="offset-lg-2 col-lg-8 col-md-12">
        <h1>Book Your Hearing Online</h1>
        <h2>
            A routine booking should be quick and simple. This online tool allows you to book a hearing at your convenience without waiting in a queue on the phone.
        </h2>
    </div>
</div>
<div class="div-cases row">
    <div class="div-cases__row offset-lg-2 col-lg-8 col-md-12">
        <div class="div-cases__instructions">
            <p>
                You can book up to three trial management conferences per day. This online tool supports booking the following types of conference hearings.
            </p>
        </div>
        <div class="div-cases__numbered">
            <p class="numbered-text"><span class="number-circle">1</span>Case Planning Conference</p>
            <p class="numbered-text"><span class="number-circle">2</span>Judicial Case Conference</p>
            <p class="numbered-text"><span class="number-circle">3</span>Trial Management Conference</p>
        </div>
    </div>
</div>
<div class="div-login row">
    <div class="div-login col-md-12">
        <button class="btn btn-primary btn-lg">Log in with BCeID</button>
        <p class="login-question">Don't have a BCeID?</p>
        <a href="#">Register for a BCeID</a>
    </div>
</div>
