@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home";
}

@section NavBar {
    <div class="navbar-collapse collapse">
        <!-- no navbar on home page -->
    </div>
}

<div class="row no-gutters text-center">
    <div class="col-12 col-lg-8 mx-auto">
        <h1>Book Your Hearing Online</h1>
        <p>
            A routine booking should be quick and simple. This online tool allows you to book
            certain hearings with the <b>Supreme Court</b> and <b>Court of Appeal</b> at your
            convenience without waiting in a queue on the phone.
        </p>
    </div>
</div>

<div class="row no-gutters home-court-options">
    <div class="col-12 col-md-10 mx-auto">
        <div class="row no-gutters justify-content-around">
            <div class="col-12 col-lg-5 court-option-box bg-white rounded">
                <h2 class="text-center">Court of Appeal</h2>
                <p>
                    You can book either Appeal Hearings or Chamber Hearings for your civil or criminal cases.
                </p>
                <a class="btn btn-primary btn-block" href="/scjob/booking/coa/CaseSearch">Log in with BCeID</a>
            </div>
            <div class="col-12 col-lg-5 court-option-box bg-white rounded mt-4 mt-lg-0">
                <h2 class="text-center">Supreme Court</h2>
                <p>
                    You can book select conference hearings online. Please check the
                    <a href="https://www.bccourts.ca/supreme_court/scheduling/" target="_blank" rel="noopener">Supreme Court Scheduling website</a>
                    <i class="fa fa-external-link-alt"></i> for specific available conference types.
                </p>
                <a class="btn btn-primary btn-block" href="/scjob/booking/sc">Log in with BCeID</a>
            </div>
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-12 col-lg-6 text-center mx-auto">
        <hr />
        <h6 style="margin-bottom: 8px;">Don't have a BCeID?</h6>
        <a href="@Configuration["AppSettings:RegisterUrl"]"><p>Register for a BCeID</p></a>
    </div>
</div>
