@{
    ViewData["Title"] = "Home Page";
}

<div class="row home-intro">
    <div class="offset-lg-3 col-lg-6 col-md-12">
        <h1>Book Your Hearing Online</h1>
        <p class="intro">
            A routine booking should be quick and simple. This online tool allows you to book a hearing at your convenience without waiting in a queue on the phone.
        </p>
    </div>
</div>
<div class="row home-description">
    <div class="offset-lg-3 col-lg-6 col-md-12">
        <p class="intro">You can book up to three trial management conferences per day.</p>
    </div>
</div>
<div class="row home-login">
    <div class="col-md-12">
        <button class="btn btn-primary btn-lg">Log in with BCeID</button>
        <p class="login-question">Don't have a BCeID?</p>
        <a href="#">Register for a BCeID</a>
    </div>
</div>
