@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Home";
}

@section NavBar {
    <div class="navbar-collapse collapse">
        <!-- no navbar on home page -->
    </div>
}

<div class="row home-intro">
    <div class="offset-lg-3 col-lg-6 col-md-12">
        <h1>Book Your Hearing Online</h1>
        <p class="intro">
            A routine booking should be quick and simple. This online tool allows you to book a hearing at your convenience without waiting in a queue on the phone.
        </p>
    </div>
</div>

<div class="row home-court-options">
    <div class="court-option-box text-center">
        <h2>Court of Appeal</h2>
        <p>For civil and criminal cases you can book your appeal hearing for up to one day of hearing time.</p>
        <a class="btn btn-primary btn-lg" href="/scjob/booking/coa/CaseSearch">Log in with BCeID</a>
    </div>
    <div class="court-option-box text-center">
        <h2>Supreme Court</h2>
        <p>You can now book select conference hearings online.</p>
        <a class="btn btn-primary btn-lg" href="/scjob/booking/sc">Log in with BCeID</a>
    </div>
</div>

<div class="home-login">
    <div class="offset-lg-3 col-lg-6 col-md-12">
        <hr />
        <p class="login-question">Don't have a BCeID?</p>
        <a href="@Configuration["AppSettings:RegisterUrl"]">Register for a BCeID</a>
    </div>
</div>
