@{
    ViewData["Title"] = "Site Maintenance";
}

@section NavBar {
    <div class="navbar-collapse collapse">
    </div>
}

<div class="row">
    <div class="col-12">
        <h1>Scheduled Maintenance in Progress</h1>
        <p>The site is currently undergoing scheduled maintenance. Please check back later.</p>
    </div>
</div>

<a href="/scjob" class="btn btn-primary d-block mt-5" style="width: 140px;">
    Try again &nbsp;
</a>
