@{
    ViewData["Title"] = "Not Authorized";
}

@section NavBar {
    <div class="navbar-collapse collapse">
    </div>
}

<div class="row">
    <div class="col-12">
        <h1>Not Authorized</h1>
        <p>The URL you attempted to access requires prior login</p>
    </div>
</div>
