@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration

@{
    ViewData["Title"] = "Single Sign-On";
}

@section NavBar {
    <div class="navbar-collapse collapse">
        <!-- no navbar on sso page -->
    </div>
}

<div class="row no-gutters">
    <div class="col-12 mx-auto">
        <h1>Log in to BC Courts Online Booking System</h1>
        <p>
            Use one of the following methods to log into the BC Courts Online Booking System.
        </p>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4">
        <p>
            <a class="btn btn-primary"
               href="@ViewBag.AppUrl?kc_idp_hint=@OpenIdConnectHelper.BceidIdp">
                Log in with BCeID
            </a>
        </p>
        <p>
            <a class="btn btn-primary"
               href="@ViewBag.AppUrl?kc_idp_hint=@OpenIdConnectHelper.DigitalCredentialIdp">
                Log in with BC Wallet
            </a>
        </p>
    </div>
</div>

<div class="row no-gutters mt-5">
    <div class="col-12 col-lg-6">
        <hr />
        <h6 style="margin-bottom: 8px;">Don't have a Login?</h6>
        <p>
            Register for a
            <a href="@Configuration["AppSettings:RegisterUrl"]">BCeID</a> or
            <a href="https://www2.gov.bc.ca/gov/content/governments/government-id/bc-wallet">BC Wallet</a>
        </p>
    </div>
</div>
