@inject SessionService SessionService
@model ScCaseConfirmViewModel

@{
    ScSessionBookingInfo bookingInfo = Model.SessionInfo;
    string formulaType = bookingInfo.FormulaType;
    Layout = "~/Views/Shared/_ScLayout.cshtml";
    ViewData["Title"] = formulaType == ScFormulaType.RegularBooking
    ? "Complete your booking"
    : "Review your request";
}

<div class="body-content--inner">
    <div class="d-flex justify-content-between steps-link">
        <h5>4 steps to complete your booking</h5>
        <h6><a href="/scjob/booking/sc">Cancel</a></h6>
    </div>
    <hr />
    <h6>Step 4</h6>
    <h2>@ViewData["Title"]</h2>

    <div class="row no-gutters booking-confirmation">
        <div class="col">

            @if (formulaType == ScFormulaType.FairUseBooking)
            {
                <p class="mb-4">Please review the following information to ensure that it is accurate.
                    Dates are not guaranteed at this stage, you are submitting a request.</p>
            }
            else
            {
                <p class="mb-4">Review the following information to ensure that it is accurate before
                    completing your booking.</p>
            }

            <div class="row no-gutters justify-content-between booking-confirmation--details">
                <div class="col-12">
                    <partial name="~/Views/Shared/_ScCaseLabel.cshtml" />
                </div>
            </div>

            @if (formulaType == ScFormulaType.FairUseBooking)
            {
                <partial name="Partial/CaseConfirm/_FairUseBooking" model="Model" />
            }
            else
            {
                <partial name="Partial/CaseConfirm/_RegularBooking" model="Model" />
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}