// font
@font-face {
    font-family: 'BCSans';
    font-style: normal;
    src: url("../../wwwroot/fonts/BCSans-Regular.woff2") format("woff2"),
         url("../../wwwroot/fonts/BCSans-Regular.woff") format("woff"),
         url("../../wwwroot/fonts/BCSans-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'BCSans';
    font-weight: 700;
    src: url("../../wwwroot/fonts/BCSans-Bold.woff2") format("woff2"),
         url("../../wwwroot/fonts/BCSans-Bold.woff") format("woff"),
         url("../../wwwroot/fonts/BCSans-Bold.ttf") format("truetype");
}
$font-stack: 'BCSans', 'Noto Sans', Verdana, Arial, sans-serif;


// old colour palette
$blue: #1a5a96;
$blue-active: #0073ff;
$blue-active-lighter: #edf4fc;
$blue-darker: #2b5580;
$blue-light: #eff2f5;
$grey-light: #ececec;
$grey-dark: #333333;
$grey-text: #494949;
$grey-disabled: #e9ecef;

// new colour palette
$blue-dark: #002f59;
$blue-medium: #00488f;
$blue-light: #0a5288;
$blue-link: #1a5a96;
$blue-calendar: #1d5782;
$green-dark: #2a773d;
$green-medium: #3aa555;
$green-light: rgba($green-dark, .1);
$grey-border: #606060;
$grey-dark: #565656;
$grey-medium: #c5c5c5;
$grey-light: #f2f2f2;
$black: #313132;
$white: #ffffff;


// breakpoint
$breakpoint-xs: 320px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1600px;

@mixin breakpoint($media) {
    @if $media == xs {
        @media only screen and (min-width : $breakpoint-xs) {
            @content;
        }
    }
    @else if $media == sm {
        @media only screen and (min-width: $breakpoint-sm) {
            @content;
        }
    }
    @else if $media == md {
        @media only screen and (min-width: $breakpoint-md) {
            @content;
        }
    }
    @else if $media == lg {
        @media only screen and (min-width: $breakpoint-lg) {
            @content;
        }
    }
    @else if $media == xl {
        @media only screen and (min-width: $breakpoint-xl) {
            @content;
        }
    }
    @else if $media == xxl {
        @media only screen and (min-width: $breakpoint-xxl) {
            @content;
        }
    }
    @else if $media == mobile {
        @media only screen and (min-width: $breakpoint-xs) and (max-width: $breakpoint-lg) {
            @content;
        }
    }
}
