/*
* Global styles
*/

// Import partial stylesheets
@import 'variables';
@import 'bootstrapOverrides';
@import 'accessibility';

html, body {
    height: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font-stack;
    font-size: 1rem;
    font-weight: 400;
    background: #ccc url("https://www.courts.gov.bc.ca/images/body-bkg.png") repeat-x;
}

.main {
    flex: 1 0 auto;

    @media (min-width: $breakpoint-md) {
        min-height: calc(100% - 120px);
    }

    @media (max-width: $breakpoint-md) {
        min-height: calc(100% - 80px);
    }
}

.footer {
    flex-shrink: 0;
}

.body-content {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $white;
    height: calc(100% - 120px);
    min-height: calc(100vh - 192px);

    @media (max-width: $breakpoint-md) {
        height: calc(100% - 80px);
    }
}

.fas {
    margin-right: 10px;
}

/*Header*/
.header-nav, .footer-nav {
    
    a {
        color: $black;
        font-weight: 700;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

    .navbar-collapse .nav {
        font-size: 1rem;
    }
}

.form-control.input-validation-error {
    border-color: #dc3545;
    padding-right: calc(1.5em + 0.75rem);
}

div.invalid-field-message {
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}

.header-logo-div {
    .container {
        @include breakpoint(sm) {
            background: url(https://www.courts.gov.bc.ca/images/flag-banners/banner-1.jpg) right top no-repeat;
            background-color: $grey-dark;
        }

        background-color: $grey-dark;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .header-logo {
        display: block;
    }
}

.header-nav {
    padding: 0;
    font-size: 1rem;

    .container {
        background-color: $black;
        padding: 10px 15px;
        display: flex;
        color: $white;

        a {
            color: $white;
        }

        .app-name {
            font-weight: 700;
            margin-right: auto;
        }
    }


    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-collapse {
        justify-content: flex-end;

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

.bookingsLeft {
    margin-top: 10px;

    @include breakpoint(md) {
        margin-right: 30px;
        margin-top: 0;
    }
}

/*Footer*/
.footer-nav {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 15px;
        background-color: $white;
        border-top: 1px solid $grey-light;
        border-bottom: 7px solid $black;

        @include breakpoint(lg) {
            flex-direction: row;
            align-items: center;
        }

        .footer-nav-items {
            list-style-type: none;
            padding: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 5px 0 0 0;

            @include breakpoint(lg) {
                flex-direction: row;
                margin-top: 0;
            }

            li {
                float: left;

                a {
                    display: block;
                    text-align: center;
                    font-size: 0.875rem;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    @include breakpoint(lg) {
                        padding: 16px;
                    }
                }
            }
        }
    }

    .copyright {
        font-size: 0.875rem;
        padding: 5px 0;

        @include breakpoint(lg) {
            margin-left: auto;
        }
    }
}

p.intro {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

/*Homepage*/
.home-intro {
    text-align: center;
}

.home-intro {
    p.intro {
        font-size: 1.25rem;
    }
}

.home-description {
    padding-top: 0px;
    padding-bottom: 0px;

    hr {
        margin-bottom: 30px;
    }
}

.home-login {
    text-align: center;

    .login-question{
        font-weight: 700;
        margin-top: 20px;
    }
}

.home-court-options {
    margin-left: 0;
    margin-right: 0;

    @media (min-width: $breakpoint-lg) {
        margin-left: 60px;
        margin-right: 60px;
        margin-top: 20px;
    }

    .court-option-box {
        background: $blue-light;
        width: 100%;
        margin-bottom: 30px;
        padding: 40px 40px 120px;
        position: relative;
        border-radius: 0.3rem;

        p {
            text-align: left;
        }

        .btn {
            margin-bottom: 0;
            position: absolute;
            bottom: 40px;
            left: 0;
            right: 0;
            margin-left: 40px;
            margin-right: 40px;

            @media (min-width: $breakpoint-xl) {
                margin-left: 100px;
                margin-right: 100px;
            }
        }

        @media (min-width: $breakpoint-lg) {
            width: calc(50% - 40px);
        }

        &:first-of-type {

            @media (min-width: $breakpoint-lg) {
                margin-right: 40px;
            }
        }

        &:last-of-type {
            @media (min-width: $breakpoint-lg) {
                margin-left: 20px;
            }
        }
    }
}

/*Book Your Hearing*/
.search-info {
    background-color: $blue-light;
    padding: 20px 10px 5px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 0.3rem;

    .search-info-row {
        margin-left: 0;
        margin-right: 0;

        & + .search-info-row {
            margin-top: 20px;

            ul {
                list-style: none;
                padding-left: 0;

                label {
                    font-weight: 400;
                }
            }
        }

        input:last-of-type {
            margin-left: 12px;
        }
    }

    .preliminary_questions {
        .search-info-row {
            @media (min-width: $breakpoint-md) {
                margin-top: 15px;
            }
        }
    }
}

#btnSearch {
    width: 275px;
    max-width: 100%;
}

.results-linebreak {
    margin-bottom: 2rem;
}

.registryOptions {
    width: auto;
    min-width: 50%;
}

.caseNumber {
    width: calc(10ch + 3.75rem);
}

.availableTimesContainer{
    height: 400px;
    margin-top: 30px;
}

select#SelectedRegistryId {
    max-width: 250px;
}

.options-nextStep {
    margin-top: 20px;
}

.information-tooltip {
    .fa-question-circle {
        margin-right: 0;
        color: $blue;
    }
}

/*Available Times slider*/
.custom-slide-header {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.custom-slide-times {
    border-radius: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 335px;
    padding: 5px;
}

a.custom-slide-time {
    display: block;
    border-radius: 0.3rem;
    padding: 10px 5px;
    margin: 5px 5px 10px 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: $blue;
    background-color:$blue-active-lighter;
    border: 1px solid darken($blue-light, 10%);
    font-weight: 700;

    &.selected, &:focus {
        background-color: $blue-active;
        color: $white;
    }

    &:hover {
        background-color: $blue-active;
        color: $white;
    }
}

.swiper-container {
    width: calc(100% - 60px);
}

/*Booking Confirmation*/
.booking-confirmation > .content {
    margin-top: 30px;
}

.booking-submit {

    padding-top: 12px;

    @media (min-width: $breakpoint-sm) {
        .btn-secondary {
            margin-left: 20px;
        }
    }
    
}

.booking-new > .content {
    margin-top: 30px;
}

.booking-logout > .content {
    margin-top: 10px;
}

.booking-same-height-item {
    width: calc(100% / 2 - 5px);
    float: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    .card {
        height: 100%;
    }
}

.align-tooltip {
    display: flex;
    align-items: center;

    div.invalid-feedback {
        max-width: 100px;
        white-space: nowrap;
        overflow-x: visible;
    }
}

.tooltip .arrow::before {
    border-top-color: $blue;
}

.card-header-center {
    align-items: center;
    display: flex;
    height: 65px;
}

@include breakpoint(mobile) {
    .affixed {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        z-index: 9999;
        -webkit-box-shadow: 0px 4px 40px 0px rgba(34, 34, 34, 0.3);
        box-shadow: 0px 4px 40px 0px rgba(34, 34, 34, 0.3);
    }
}

div#progress-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: url(/Images/transparent.png);
    background: rgba(0,0,0,0.35);

    &-spinner {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5000;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.paragraph p:not(:last-of-type) {
    margin-bottom: 0;
}

.contact-information {
    margin-top: 50px;
}

.btn-radio {
    color: $blue;
    background-color: $white;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.08em;
    padding: 20px 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 3px solid darken($blue-light, 10%);
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &--day {
        padding: 12px 0;
    }

    &:hover, &:active, &:focus, &.active {
        color: $white;
        background-color: $blue-active;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    &:active, &.active {
        border: 3px solid darken($blue-light, 20%);
    }

    &.disabled {
        cursor: default;

        &:hover, &:focus {
            color: $blue;
            background-color: $white;
        }
    }

    & + .btn-radio {
        margin-left: 20px;
    }

    input {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }
}

label {
    font-weight: 700;
}

h3 {
    &.h3--month {
        font-weight: 700;
    }
}

.availableDates {
    &__month {
        margin: 40px 0 30px;

        &.hidden {
            display: none;
        }

        &__days {
            display: flex;
            flex-wrap: wrap;

            a.availableDate {
                width: 240px;
                min-width: 240px;
                text-align: center;
                border-radius: 0.5rem;
                padding: 20px 10px;
                margin: 20px auto;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                background-color: $blue-active-lighter;
                border: 1px solid darken($blue-light, 10%);

                &:hover, &:active, &:focus {
                    background-color: $blue-active;
                    transition: all 0.1s ease-in-out;

                    p {
                        color: $white;
                    }
                }

                @media(min-width: 568px) {
                    width: 240px;
                    min-width: 240px;
                    margin: 15px;
                }

                @media(min-width: 568px) and (max-width: $breakpoint-md) {
                    &:nth-of-type(2n+1) {
                        margin-left: 0;
                    }

                    &:nth-of-type(2n+2) {
                        margin-right: 0;
                    }
                }

                @media(min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
                    width: 210px;
                    min-width: 210px;
                    margin: 10px 15px;

                    &:nth-of-type(3n+1) {
                        margin-left: 0;
                    }

                    &:nth-of-type(3n+3) {
                        margin-right: 0;
                    }
                }

                @media(min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
                    width: 210px;
                    min-width: 210px;
                    margin: 10px 15px;

                    &:nth-of-type(4n+1) {
                        margin-left: 0;
                    }

                    &:nth-of-type(4n+4) {
                        margin-right: 0;
                    }
                }

                @media(min-width: $breakpoint-xl) {
                    width: 206px;
                    min-width: 206px;
                    margin: 10px;

                    &:nth-of-type(5n+1) {
                        margin-left: 0;
                    }

                    &:nth-of-type(5n+5) {
                        margin-right: 0;
                    }
                }

                p {
                    margin-bottom: 0;
                    font-weight: 700;
                    color: $blue;
                }
            }
        }
    }
}

#btnShowDates {
    display: none;
}

#btnShowMore {
    margin-bottom: 60px;
}

.alert--preliminary_question, .alert--related-cases {
    display: none;
}

select, input {
    &.disabled {
        background-color: $grey-disabled;
    }
}

.notice--preliminary_question {
    margin-bottom: 20px;
    display: none;
}
