/*
* Global styles
*/

// Import partial stylesheets
@import 'variables';
@import 'bootstrapOverrides';
@import 'accessibility';

html, body {
    height: 100%;
}

// Set base size to 10px so 1 rem == 10px
// Using rem's helps with accessibility
// Having the base size equal 10 makes it easier to figure out
html {
    font-size: 62.5%;
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font-stack;
    font-size: 1.6rem;
    font-weight: 400;
    color: $black;
    background-color: $grey-medium;
}

.main {
    flex: 1 0 auto;

    @media (min-width: $breakpoint-md) {
        min-height: calc(100% - 120px);
    }

    @media (max-width: $breakpoint-md) {
        min-height: calc(100% - 80px);
    }
}

.footer {
    flex-shrink: 0;
}

.body-content {
    padding-top: 24px;
    padding-bottom: 48px;
    background-color: $grey-light;
    min-height: calc(100vh - 200px);

    &--inner {
        max-width: 732px;
        margin: 0 auto;

        .steps-link {
            h6 {
                margin-top: 2px;
            }
            a {
                color: $black;
            }         
        }
    }
}

/*FontAwesome Icon*/
.fas, .far {
    margin-right: 8px;
}

/*Header*/
.header-nav, .footer-nav {
    
    a {
        color: $white;
        font-weight: 700;
        text-decoration: none;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }
}

.form-control.input-validation-error {
    border-color: #c62f3d;
}

div.invalid-field-message {
    width: 100%;
    font-size: 1.2rem;
    color: #c62f3d;
}

.header-logo-div {
    .container {
        @include breakpoint(sm) {
            background: url(https://www.courts.gov.bc.ca/images/flag-banners/banner-1.jpg) right top no-repeat;
            background-color: $black;
        }

        background-color: $black;
        border-top: 10px solid #000;
        margin-right: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .header-logo {
        display: block;
        img {
            width: 275px;
            height: 100%;
        }
    }
}

.header-nav {
    padding: 0;

    .container {
        display: flex;
        color: $white;
        background-color: #1f1f1f;
        padding: 10px 15px;

        a {
            color: $white;
        }

        .app-name {
            font-weight: 700;
            margin-right: auto;
            max-width: 300px;
            @include breakpoint(sm) {
                max-width: unset;
            }
        }
    }


    .navbar-toggler {
        margin-left: auto;
    }

    .navbar-collapse {
        justify-content: flex-end;

        .navbar-nav {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}

.bookingsLeft {
    margin-top: 10px;

    @include breakpoint(md) {
        margin-right: 30px;
        margin-top: 0;
    }
}

/*Footer*/
.footer-nav {
    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5px 15px;
        color: $white;
        background-color: $black;

        @include breakpoint(lg) {
            flex-direction: row;
            align-items: center;
        }

        .footer-nav-items {
            list-style-type: none;
            padding: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 5px 0 0 0;

            @include breakpoint(lg) {
                flex-direction: row;
                margin-top: 0;
            }

            li {
                float: left;
                margin: 2px;
                a {
                    display: block;
                    text-align: center;
                    font-size: 1.4rem;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    @include breakpoint(lg) {
                        padding: 14px;
                    }
                }
            }
        }
    }

    .copyright {
        font-size: 1.4rem;
        margin-bottom: 5px;
        
        @include breakpoint(lg) {
            margin-left: auto;
            margin-bottom: 0;
            padding: 14px;
        }
    }
}

/*Homepage*/
.home-court-options {
    margin: 32px 0;

    .court-option-box {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        justify-content: center;
        padding: 32px;
    }
}

/*Search results*/
.search-results-case {
    display: flex;
    align-items: center;
    position: relative;
    border-radius: 0.6rem;
    input, label {
        cursor: pointer;
    }
    input {
        position: absolute;
        top: calc(50% - 6px);
        left: 16px;
    }
    label {
        width: 100%;
        font-weight: 400;
        border: solid 1px $grey-border;
        border-radius: 0.6rem;
        margin-top: 0;
        margin-bottom: 0;
        padding: 16px;
        padding-left: 44px;
        &:hover {
            background-color: rgba($green-dark, 0.03);
            border-color: $green-dark;
        }
        h5 {
            margin-bottom: 4px;
        }
    }
    input:checked + label {
        background-color: $green-light;
        border-color: $green-dark;
    }

    & + .search-results-case {
        margin-top: 16px;
    }
}

/*Book Your Hearing*/
.search-info {
    background-color: #eff2f5;
    padding: 20px 10px;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 0.3rem;

    .search-info-row {
        margin-left: 0;
        margin-right: 0;

        & + .search-info-row {
            margin-top: 20px;

            ul {
                list-style: none;
                padding-left: 0;

                label {
                    font-weight: 400;
                }
            }
        }
    }

    .preliminary_questions {
        .search-info-row {
            @media (min-width: $breakpoint-md) {
                margin-top: 15px;
            }
        }
    }
}

#btnSearch {
    margin-bottom: 1rem;
    margin-right: 0;
    @include breakpoint(sm) {
        margin-bottom: 0;
        margin-right: 1rem;
    }
}

.results-linebreak {
    margin-bottom: 2rem;
}

#ddlLocation {
    width: 100%;

    @media (min-width: $breakpoint-sm) {
        width: auto;
        min-width: 50%;
    }
}

.availableTimesContainer{
    height: 400px;
    margin-top: 30px;
}

.no-search-results {
    h3 {
        margin-bottom: 0;
    }
    .options-nextStep {
        margin-top: 24px;
        &:first-of-type {
            margin-top: 18px;
        }
    }
}

.information-tooltip {
    .fa-question-circle {
        margin-right: 0;
        color: $blue;
    }
}

/*Available Times slider*/
.swiper-container {
    width: calc(100% - 60px);
    @include breakpoint(lg) { 
        width: 100% !important;
    }

    .swiper-slide-active {
        .custom-slide-header {
            color: $blue-calendar;
        }
    }
}

.swiper-button-prev {
    left: 0;
    @include breakpoint(lg) { 
        left: -30px;
    }
}

.swiper-button-next {
    right: 0;
    @include breakpoint(lg) { 
        right: -30px;
    }
}

.custom-slide-header {
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

.custom-slide-times {
    border-radius: 0.3rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 342px;
    overflow: auto;
    padding: 10px 8px;

    button {
        white-space: nowrap;
        font-size: 1.37rem;
    }
}

a.custom-slide-time {
    display: block;
    border-radius: 0.3rem;
    padding: 10px 5px;
    margin: 5px 5px 10px 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: $blue;
    background-color:$blue-active-lighter;
    border: 1px solid darken(#eff2f5, 10%);
    font-weight: 700;

    &.selected, &:focus {
        background-color: $blue-active;
        color: $white;
    }

    &:hover {
        background-color: $blue-active;
        color: $white;
    }
}

/*Booking Confirmation*/
.booking-confirmation {
    margin-top: 24px;
    & > .content {
        margin-top: 30px;
    }
    &--details {
        border: 1px solid $grey-border;
        border-radius: 0.4rem;
        margin-bottom: 24px;
        padding: 16px;

        small {
            color: $black;
            & + small {
                margin-top: 4px;
            }
        }
    }
    .invalid-feedback {
        margin-top: 0;
    }
} 

.booking-submit {

    padding-top: 12px;
}

.booking-new > .content {
    margin-top: 30px;
}

.booking-logout > .content {
    margin-top: 10px;
}

.booking-same-height-item {
    width: calc(100% / 2 - 5px);
    float: left;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;

    .card {
        height: 100%;
    }
}

.align-tooltip {
    display: flex;
    align-items: baseline;

    div.invalid-feedback {
        max-width: 100px;
        white-space: nowrap;
        overflow-x: visible;
    }
}

.tooltip .arrow::before {
    border-top-color: $blue;
}

.card-header-center {
    align-items: center;
    display: flex;
    height: 65px;
    @media (min-width: $breakpoint-md) {
        height: 95px;
    }
    @media (min-width: $breakpoint-lg) {
        height: 75px;
    }
}

@include breakpoint(mobile) {
    .affixed {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        z-index: 9999;
        -webkit-box-shadow: 0px 4px 40px 0px rgba(34, 34, 34, 0.3);
        box-shadow: 0px 4px 40px 0px rgba(34, 34, 34, 0.3);
    }
}

div#progress-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    background: rgba(0,0,0,0.35);

    &-spinner {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 5000;
    }

    img {
        position: absolute;
        top: 50%;
        left: 50%;
    }
}

.paragraph p:not(:last-of-type) {
    margin-bottom: 0;
}

.contact-information {
    margin-top: 50px;
}

.btn-radio {
    color: $blue;
    background-color: $white;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.08em;
    padding: 20px 0;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: 3px solid darken(#eff2f5, 10%);
    cursor: pointer;
    transition: all 0.1s ease-in-out;

    &--day, &--time_required {
        padding: 12px 0;
    }

    &:hover, &:active, &:focus, &.active {
        color: $white;
        background-color: $blue-active;
        -webkit-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }

    &:active, &.active {
        border: 3px solid darken(#eff2f5, 20%);
    }

    &.disabled {
        cursor: default;

        &:hover, &:focus {
            color: $blue !important;
            background-color: $white;
        }
    }

    & + .btn-radio {
        margin-left: 20px;
    }

    input {
        position: absolute;
        clip: rect(0,0,0,0);
        pointer-events: none;
    }

    &--secondary {
        width: auto;
        padding: 20px;
    }
}

label {
    font-weight: 700;
}

h3 {
    &.h3--month {
        font-weight: 700;
    }
}

span.nowrap {
    white-space: nowrap;
}

.availableDates {
    &__month {
        margin: 40px 0 30px;

        &.hidden {
            display: none;
        }

        &__days {
            display: flex;
            flex-wrap: wrap;

            a.availableDate {
                width: 240px;
                min-width: 240px;
                display: inline-block;
                text-align: center;
                border-radius: 0.5rem;
                padding: 20px 10px;
                margin: 20px auto;
                cursor: pointer;
                text-align: center;
                text-decoration: none;
                background-color: $blue-active-lighter;
                border: 1px solid darken(#eff2f5, 10%);

                &:hover, &:active, &:focus {
                    background-color: $blue-active;
                    transition: all 0.1s ease-in-out;

                    p {
                        color: $white;
                    }
                }

                &::after {
                    display: none;
                }

                @media(min-width: 568px) {
                    width: 240px;
                    min-width: 240px;
                    margin: 15px;
                }

                @media(min-width: 568px) and (max-width: $breakpoint-md) {
                    &:nth-of-type(2n+1) {
                        margin-left: 0;
                    }

                    &:nth-of-type(2n+2) {
                        margin-right: 0;
                    }
                }

                @media(min-width: $breakpoint-md) and (max-width: $breakpoint-lg) {
                    width: 210px;
                    min-width: 210px;
                    margin: 10px 15px;

                    &:nth-of-type(3n+1) {
                        margin-left: 0;
                    }

                    &:nth-of-type(3n+3) {
                        margin-right: 0;
                    }
                }

                @media(min-width: $breakpoint-lg) and (max-width: $breakpoint-xl) {
                    width: 210px;
                    min-width: 210px;
                    margin: 10px 15px;

                    &:nth-of-type(4n+1) {
                        margin-left: 0;
                    }

                    &:nth-of-type(4n+4) {
                        margin-right: 0;
                    }
                }

                @media(min-width: $breakpoint-xl) {
                    width: 206px;
                    min-width: 206px;
                    margin: 10px;

                    &:nth-of-type(5n+1) {
                        margin-left: 0;
                    }

                    &:nth-of-type(5n+5) {
                        margin-right: 0;
                    }
                }

                p {
                    margin-bottom: 0;
                    font-weight: 700;
                    color: $blue;
                }
            }
        }
    }
}

#btnShowDates {
    display: none;
}

#btnShowMore {
    color:  $blue-active;
    border: 1px solid $blue-active;
    margin-bottom: 60px;
}

.alert--preliminary_question, .alert--related-cases {
    display: none;
}

select {
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
    background-position: calc(100% - 0.75rem) center;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}

select, input {
    &.disabled {
        background-color: $grey-disabled;
    }
}

.notice--preliminary_question {
    margin-bottom: 20px;
    display: none;
}

/* Supreme Court side */
.conference-type-selection {
    margin-top: 16px;
    label {
        @media (min-width: $breakpoint-md) {
            white-space: nowrap;
        }
    }

    .btn-radio-group {
        width: 100%;
        position: relative;
        margin: 8px 0 12px;

        .form-check {
            position: initial;

            input.form-check-input {
                margin-top: 0.6rem;
            }

            label {
                font-weight: 400;
                font-size: 1.6rem;
                margin-top: 0;
                margin-left: 8px;
            }
        }

        .invalid-feedback {
            position: absolute;
            width: 100%;
            left: 0;
        }
    }
}

/* Court of Appeal side */
.preliminary_questions__radio, #Appeal_IsFullDay, #Criminal_IsFullDay, #Chambers_TimeRequired {
    .btn {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 10px
    }
}

label.factum {
    max-width: 90%;
}

select#HearingTypeId {
    height: 44px;
    font-size: 1.6rem;
    max-width: 250px;
}
