/*
* Global styles
*/

// Import partial stylesheets
@import 'variables';
@import 'bootstrapOverrides';

html, body {
    height: 100%;
}

html {
    -webkit-font-smoothing: antialiased;
}

body {
    display: flex;
    flex-direction: column;
    font-family: $font-stack;
    font-size: 1rem;
    font-weight: 400;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.body-content {
    padding-top: 60px;
    padding-bottom: 60px;
}

.icon {
    margin-right: 8px;
}

//header navbar
.header-nav, .footer-nav {
    background-color: $blue-bg;
    color: $white;

    a {
        color: $white;
        font-weight: 700;
        text-decoration: none;
    }

    .navbar-collapse .nav {
        margin-left: auto;
        font-size: 0.875rem;
    }
}

.header-nav {
    border-bottom: 2px solid $yellow;
    padding: 10px;
    font-size: 1rem;

    @include breakpoint(md) {
        padding: 10px 0;
    }

    .header-logo {
        margin-right: 20px;
        padding: 4px 0;
    }

    .appName {
        margin-bottom: 0;
    }

    .navbar-toggler {
        margin-left: auto;
    }
}
.footer-nav {
    border-top: 2px solid $yellow;
    padding: 5px 0;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include breakpoint(md) {
            flex-direction: row;
            align-items: center;
        }

        .footer-nav-items {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @include breakpoint(md) {
                flex-direction: row;
            }

            li {
                float: left;

                a {
                    display: block;
                    text-align: center;
                    font-size: 0.875rem;
                    text-decoration: none;

                    &:hover {
                        text-decoration: underline;
                    }

                    @include breakpoint(md) {
                        padding: 16px;
                    }
                }

                & + li {
                    @include breakpoint(md) {
                        border-left: 1px solid $blue-washed;
                    }
                }
            }
        }
    }

    .copyright {
        font-size: 0.875rem;
        padding: 5px 0;

        @include breakpoint(md) {
            margin-left: auto;
        }
    }
}

p.intro {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}

/*Homepage*/
.home-intro, .home-description {
    text-align: center;
}

.home-intro {
    p.intro {
        font-size: 1.25rem;
    }
}

.home-description {
    padding-bottom: 40px;
}

.home-login {
    text-align: center;

    .login-question{
        font-weight: 700;
        margin-top: 20px;
    }
}
/*Homepage*/

/*Book Your Hearing*/

.search-info{
    background-color: $blue-light;
    padding: 15px 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 20px;
}

.results-linebreak {
    margin-bottom: 2rem;
}

.registryOptions {
    width: auto;
    min-width: 50%;
}

.caseNumber {
    width: calc(10ch + 3.75rem);
}

.availableTimesContainer{
    height: 250px;
}

select#SelectedRegistryId {
    max-width: 250px;
}

.options-nextStep {
    margin-top: 20px;
}

/*Book Your Hearing*/

.fas {
    margin-right: 10px;
}