@using SCJ.Booking.MVC.Services;
@inject HearingsLeft HearingsLeft

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section BookingsLeft {
    <div style="margin-left: auto">
        <span>You can book @HearingsLeft.GetHearingsLeft() hearings today.</span>
    </div>
}

@section Logout {
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a asp-controller="User" asp-action="Logout">Logout</a>
        </li>
    </ul>
}

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", false)
}

@section Styles {
    @RenderSection("Styles", false)
}
