@model SCJ.Booking.MVC.Models.SearchViewModel

<h2>Book Your Hearing</h2>

<p>Before we can bring back available times for the hearing, we’ll need to know the following.</p>

<form asp-controller="Booking" asp-action="Search" method="post" class="form-horizontal needs-validation" role="form" novalidate autocomplete="off">
    <div class="row search-container">
        <div class="col col-md-12">
            <div class="form-group">
                <label>Select the registry where the file was created?</label>
                <select asp-for="SelectedRegistryId" asp-items="@Model.Registry" required></select>
                <div class="invalid-feedback">
                    Please provide the registry the file was created at.
                </div>
            </div>
            <div class="form-group">
                <label>What is the Case Action Number for the case?</label>
                <input asp-for="CaseNumber" class="form-control form-control caseNumber col-md-2" required />
                <div class="invalid-feedback">
                    Please provide a Case Action Number.
                </div>
            </div>
        </div>
    </div>
    <div>&nbsp;</div>
    <div class="row">
        <div class="col col-md-3">
            <button type="submit" class="btn btn-secondary btn-lg" id="btnSearch">Show Available Times</button>
        </div>
    </div>
</form>

@section Scripts {
    <script src="~/js/bookyourhearing.js" asp-append-version="true"></script>
}
