<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <remove name="ReverseProxyInboundRule1" />
                <rule name="ReverseProxyInboundRule2" enabled="true" stopProcessing="true">
                    <match url="(.*)" />
                    <action type="Rewrite" url="http://127.0.0.1:5000/booking/{R:1}" />
                    <serverVariables>
                        <set name="HTTP_SMGOV_USERGUID" value="072cfc73-e3b9-437b-8012-0b0945f09879" />
                        <set name="HTTP_SMGOV_USERDISPLAYNAME" value="Matthew Begbie" />
						<set name="HTTP_SMGOV_USEREMAIL" value="dummy@dummy.ca" />
						<set name="HTTP_SMGOV_USERPHONE" value="999-999-9999" />
                    </serverVariables>
                    <conditions>
                        <add input="{HTTP_COOKIE}" pattern="fake_bceid=1" />
                    </conditions>
                </rule>
                <rule name="ShowLoginPageRule1" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTP_COOKIE}" pattern="fake_bceid=1" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="/Login.htm" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
