@inject SessionService SessionService
@model SCJ.Booking.MVC.ViewModels.ScCaseConfirmViewModel

<h4>Provide Your Contact Information</h4>
<p>
    We will contact you regarding this booking. Please provide the following
    contact information.
</p>
<div class="row no-gutters justify-content-between form-group" style="margin-top: 16px;">
    <div class="col-12 col-md-6 pr-0 pr-md-2">
        <label asp-for="EmailAddress" class="small-label">
            <small>Email address:</small>
        </label>
        <input type="email" asp-for="EmailAddress" required class="form-control" />
        <div class="invalid-field-message text-danger">
            @Html.ValidationMessageFor(model => model.EmailAddress)
        </div>
    </div>

    <div class="col-12 col-md-6 pl-0 pl-md-2">
        <label asp-for="Phone" class="small-label">
            <small>Phone number (format: xxx-xxx-xxxx):</small>
        </label>
        <input type="tel" asp-for="Phone" required class="form-control phone-input" pattern="\d{3}[\-]\d{3}[\-]\d{4}" />
        <div class="invalid-field-message text-danger">
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
    </div>
</div>

<div class="row no-gutters">
    <div class="col-6 col-md-8 d-flex align-items-center text-link">
        <span>
            <i class="fas fa-arrow-left"></i>
            <a asp-action="AvailableTimes">Step 3: Book Your Hearing</a>
        </span>
    </div>
    <div class="col-6 col-md-4">
        <button type="submit" class="btn btn-secondary btn-block progress-spinner" id="btnSearch">
            Confirm Booking
        </button>
    </div>
</div>
