@model ScCaseConfirmViewModel

@{
    // convert DateTimes to formatted strings
    List<string> formattedDates = Model.SessionInfo.SelectedFairUseTrialDates
    .Select(date => date.ToString("dddd, MMMM dd, yyyy"))
    .ToList();
}

<div class="content-pad bg-white mb-4">
    <p class="mb-4"><b>Your availability for when to start your trial (listed in order of preference):</b></p>

    <ol>
        @foreach (var dateString in formattedDates)
        {
            <li>@dateString</li>
        }
    </ol>
</div>

<form method="post" class="form-horizontal needs-validation" role="form" novalidate autocomplete="off">

    <partial name="Partial/CaseConfirm/_ContactForm" model="Model" />

</form>
