@inject SessionService SessionService
@model SCJ.Booking.MVC.ViewModels.ScCaseConfirmViewModel

<p>fair use booking partial</p>

<p>test @Model.BookingFormula</p>

<div class="content-pad bg-white">
    <p class="mb-4"><b>Your availability for when to start your trial (listed in order of preference):</b></p>

    <ol>
        <li class="mb-3">test</li>
        <li class="mb-3">test</li>
    </ol>
</div>
