@inject SessionService SessionService
@model SCJ.Booking.MVC.ViewModels.ScCaseConfirmViewModel

<div class="row no-gutters justify-content-between booking-confirmation--details">
    <div class="col-12">
        <div class="uppercase-sm">File Number: @SessionService.ScBookingInfo.FileNumber</div>
        <h5 style="margin-bottom: 4px">@SessionService.ScBookingInfo.SelectedCourtFile?.styleOfCause</h5>
        <p>@SessionService.ScBookingInfo.SelectedCourtClassName</p>
    </div>
</div>

@if (@Model.BookingFormula == "fairUseBooking")
{
    <partial name="Partial/CaseConfirm/_FairUseBooking" model="Model" />
}
else
{
    <partial name="Partial/CaseConfirm/_RegularBooking" model="Model" />
}
